In [17]:
import pandas as pd 
from datetime import datetime

In [10]:
data = pd.read_excel('Case Study - Deep Dive Analysis.xlsx',sheet_name='input_data')

In [93]:
def date_handler(date: str):
    return datetime.strptime(date, '%b%Y').strftime('%Y/%m/%d')

In [99]:
def calculate_growth_rate(df: pd.DataFrame, target_period: str,
                          reference_period: str) -> float:
    target_sales = df[df.month == target_period]['Value Offtake(000 Rs)'].sum()
    reference_sales = df[df.month ==
                         reference_period]['Value Offtake(000 Rs)'].sum()
    growth_rate = ((target_sales - reference_sales) / reference_sales) * 100
    return growth_rate

In [100]:
def calculate_contribution(df: pd.DataFrame, target_period: str,
                           target_period_total_value_sale: float) -> float:
    target_sales = df[df.month == target_period]['Value Offtake(000 Rs)'].sum()
    contribution = (target_sales / target_period_total_value_sale) * 100
    return contribution

In [101]:
deep_dive_options = {
    'ProductLevel': ['Brand', 'Subbrand'],
    'Geographicalevel': ['Zone', 'Region']
}

In [104]:
def deep_dive_analysis(Manufacturer: str, target_period: str,
                       reference_period: str) -> pd.DataFrame:
    analysis_data = data[data.Manufacturer == Manufacturer]
    # Date Handler to take care of Proper Date Formating
    target_period = date_handler(target_period)
    reference_period = date_handler(reference_period)

    target_period_total_value_sale = analysis_data[
        analysis_data.month == target_period]['Value Offtake(000 Rs)'].sum()
    reference_period_total_value_sale = analysis_data[
        analysis_data.month ==
        reference_period]['Value Offtake(000 Rs)'].sum()

    gain = target_period_total_value_sale - reference_period_total_value_sale
    if gain >= 0:
        print(
            f"There is no drop in the sales for a {Manufacturer} in the {target_period}"
        )
    else:
        # Let's deep dive
        result_list = []
        for option in deep_dive_options.keys():
            print(f'Doing {option} Analysis')
            levels = deep_dive_options[option]
            for level in levels:
                print(f'Level :{level}')
                focus_area_list = analysis_data[level].value_counts(
                ).index.to_list()
                for focus_area in focus_area_list:
                    growth_rate = calculate_growth_rate(
                        analysis_data[analysis_data[level] == focus_area],
                        target_period=target_period,
                        reference_period=reference_period)
                    contribution = calculate_contribution(
                        analysis_data[analysis_data[level] == focus_area],
                        target_period=target_period,
                        target_period_total_value_sale=target_period_total_value_sale)
                    product = growth_rate * contribution
                    result_list.append({
                        'Manufacturer': Manufacturer,
                        'level': level,
                        'focus_area': focus_area,
                        'growth_rate': growth_rate,
                        'contribution': contribution,
                        'product': product
                    })
        deep_dive_df = pd.DataFrame(result_list)
        deep_dive_df.sort_values(by='product', inplace=True)
        return deep_dive_df

In [106]:
deep_dive_analysis(Manufacturer='NESTLE',target_period='Feb2019',reference_period='Jan2019')

Doing ProductLevel Analysis
Level :Brand
Level :Subbrand
Doing Geographicalevel Analysis
Level :Zone
Level :Region

,Manufacturer,level,focus_area,growth_rate,contribution,product
0,NESTLE,Brand,MILO,-16.012620,100.000000,-1601.262027
1,NESTLE,Subbrand,MILO ACTIVE GO,-16.012620,100.000000,-1601.262027
4,NESTLE,Zone,North,-33.304098,30.369991,-1011.445167
6,NESTLE,Region,Urban,-11.463735,78.373854,-898.457067
2,NESTLE,Zone,East,-29.054471,26.520403,-770.536283
7,NESTLE,Region,Rural,-29.196177,21.626146,-631.400788
3,NESTLE,Zone,South,2.199291,13.495841,29.681287
5,NESTLE,Zone,West,29.071361,29.613765,860.912475